@import './globals/breakpoints';
@import './globals/colors';
@import './modules/button';
@import './modules/menu';

body {
    background-color: $theme-grey-light;
}

#home {
    height: 100vh;
    background: url(../img/Coronavirus.jpg);
    background-size: cover;
    color: white;
}

#arrow-scroll {
    position: absolute;
    left: 50%;
    bottom: 40px;
    width: 80px;
    cursor: pointer;
    transform: translate(-50%, 0);
    transition: all 0.5s cubic-bezier(.42, 0, .11, .98);
    outline: 0;
    &:hover {
      transform: translate(-50%, -20%);
    }

    .arrow-scroll-line {
      fill: none;
      stroke: white;
      stroke-width: 15;
      stroke-miterlimit: 10;
      stroke-dasharray: 1000;
      transform-origin: center center;
      stroke-dashoffset: 500;
      stroke-linecap: round;
      animation: tracer 2s cubic-bezier(.83, .01, .19, 1.01) backwards .3s;
      transition: all 0.8s cubic-bezier(.42, 0, .11, .98) 0.5s;
    }
    &.hidden .arrow-scroll-line {
      stroke-dashoffset: -400;
      transform: rotate(-100deg);
    }
  }

footer {
    background-color: $theme-grey-dark;
    opacity: 80%;
    color: white;
}