@import './globals/breakpoints';
@import './globals/colors';
@import './modules/button';
@import './modules/menu';

body {
  background-color: $theme-grey-light;
  font-family: "Montserrat";
}

#home {
  height: 100vh;
  background: url(../img/Coronavirus.jpg) center center;
  background-size: cover;
  color: white;

  #home-content-wrapper {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

    #home-text-wrapper {

      #first-text {
        color: white;
        overflow: hidden;
        font-size: 5vw;
        margin-bottom: 20px;
        @include lg() {
          font-size: 5vw;
          margin-bottom: 50px;
        }
        @for $i from 1 through 2 {
          .words:nth-child(#{$i}) {
            display: inline-block;
            animation: first-text-entrance .5s $transition-easing ((($i - 1) * .05s) + .4s) both;
          }
        }
        @keyframes first-text-entrance {
          from {
            transform: translate3d(0, 100%, 0);
          }
        }
      }
      #home-word {
        font-family: "arboria", sans-serif;
        font-weight: 600;
        font-size: 17vw;
        @include xl() {
          font-size: 20vw;
        }
        display: flex;
        align-items: baseline;
        color: white;
        .letter-path {
          fill: $theme-main;
        }
        .letter {
          line-height: .5em;
          margin: 0 2px;
        }
        @mixin animation-home-translate($name, $translate) {
          @keyframes #{$name} {
            from {
              opacity: 0;
              transform: translate3d($translate, 0, 0);
            }
          }
        }
        @for $i from 1 through 11 {
          @include animation-home-translate(letter-#{$i}, $i * 30px);
          .letter:nth-child(#{$i}) {
            animation: letter-#{$i} 1s $transition-easing .6s both;
          }
        }
      }
    }
  }
}

#arrow-scroll {
  position: absolute;
  left: 50%;
  bottom: 40px;
  width: 80px;
  cursor: pointer;
  transform: translate(-50%, 0);
  transition: all 0.5s cubic-bezier(.42, 0, .11, .98);
  outline: 0;
  &:hover {
    transform: translate(-50%, -20%);
  }

  .arrow-scroll-line {
    fill: none;
    stroke: white;
    stroke-width: 20;
    stroke-miterlimit: 10;
    stroke-dasharray: 1000;
    transform-origin: center center;
    stroke-dashoffset: 500;
    stroke-linecap: round;
    animation: tracer 2s cubic-bezier(.83, .01, .19, 1.01) backwards .3s;
    transition: all 0.8s cubic-bezier(.42, 0, .11, .98) 0.5s;
  }
  &.hidden .arrow-scroll-line {
    stroke-dashoffset: -400;
    transform: rotate(-100deg);
  }
  @keyframes tracer {
    from {
      transform: translate(0, 100%) rotate(100deg);
      stroke-dashoffset: 1000;
    }
  }
}

#home-content {
  margin-bottom: 297px;
  text-align: center;
  padding: 20px 8%;
  background-color: $theme-grey-light;
  h1 {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p {
    font-size: 110%;
    b {
      color: $theme-main;
    }
  }
  .redline-left {
    height: 7px;
    width: 80vw;
    transform-origin: left;
    background-color: $theme-main;
    border-radius: 0 10px 10px 0;
    margin-left: -10vw;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .redline-right {
    height: 7px;
    width: 82vw;
    transform-origin: right;
    background-color: $theme-main;
    border-radius: 10px 0 0 10px;
    margin-left: 9vw;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .news-component {
    min-height: 250px;
    padding: 25px 0;
    width: 550px;
    max-width: 100%;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 150px;
    }
    .news-title {
      font-size: 20px;
      margin: 20px 30px 20px 30px;
      color: $theme-main;
    }
    .news-desc {
      font-size: 15px;
      margin: 0 30px 20px 30px;
      text-align: justify;
      b {
        color: black !important;
      }
    }
  }
  :nth-child(3) {
    img {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  :nth-child(5) {
    .news-title {
      margin-top: 0 !important;
    }
  }
  :nth-child(6) {
    img {
      margin-top: 30px;
    }
  }
  .answer-icon {
    width: 50px !important;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
