@import './globals/breakpoints';
@import './globals/colors';

#main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s cubic-bezier(.42, 0, .11, .98), opacity .2s;
    display: block;
    align-items: center;
    z-index: 1000;
    height: 100px;
    overflow: hidden;
    &.open {
        height: 250px !important;
    }
    #menu_logo {
        margin-left: 20px;
        margin-top: 20px;
        margin-right: 20px;
        position: relative;
        width: 90px;
        height: 70px;
        display: none;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        img {
            position: absolute;
            width: 100%;
            top: 0;
            transition: all .4s;
        }
        @include lg () {
            display: flex;
        }
    }
    #menu_button {
        position: absolute;
        left: 50px;
        top: 30px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        display: block;
        .menu_bar {
            width: 100%;
            height: 2px;
            margin-top: 10px;
            margin-bottom: 10px;
            background-color: #fff;
        }
        @include lg () {
            display: none;
        }
    }
    &.scrolled {
        background-color: $theme-grey-light;
        height: 100px;
        box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
        .menu_bar {
            background-color: black !important;
        }
    }
    @include lg () {
        display: flex;
        height: 116px;
    }
}

#main-nav ul {
    display: inline-block;
    position: absolute;
    top: 15px;
    align-items: center;
    list-style-type: none;
    width: 100%;
    transition: all 0.5s cubic-bezier(.42, 0, .11, .98);
    margin: 0;
    padding-inline-start: 0;
    padding: 0;
    left: 120px;
    li {
        white-space: nowrap;
        display: block;
        padding: 8px 15px;
        cursor: pointer;
        color: #fff;
        transition: all 0.2s cubic-bezier(.42, 0, .11, .98);
        height: 60px;
        line-height: 60px;
        &:hover {
            color: $theme-main;
            transition: all 0.2s cubic-bezier(.42, 0, .11, .98);
        }
        &.scrolled {
            color: $theme-grey-dark;
            transition: all 0.2s cubic-bezier(.42, 0, .11, .98);
            &:hover {
                color: $theme-main;
                transition: all 0.2s cubic-bezier(.42, 0, .11, .98);
            }
        }
        @include lg () {
            display: inline-block;
            height: auto;
        }
    }
    @include lg () {
        display: flex;
        position: relative;
        top: 0;
        margin-top: 7px;
        margin-bottom: 7px;
        left: 0;
    }
}

a, a:hover {
    align-items: center;
    color: inherit;
    text-decoration: none;
}

#btn_header {
    display: inline-block;
    text-align: left;
    margin: 15px 20px 15px auto;
    transition: all 0.5s cubic-bezier(.42, 0, .11, .98);
}

#main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: -100;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: $theme-grey-light;
    flex-wrap: wrap;
    padding: 80px 0;
    #footer_logo {
        max-width: 200px;
        margin-left: 20px;
        flex-grow: 1;
        img {
            width: 100%;
        }
    }
    #footer_text {
        margin: 30px 0;
        max-width: 1000px;
        flex-grow: 4;
        flex-wrap: wrap;
        display: flex;
        font-size: 1.2em;
        line-height: 1.6em;
        align-items: center;
        p {
            margin: 0 30px;
            a {
                display: block;
                color: $theme-blue-light;
                &:hover {
                    color: rgb(65, 68, 192);
                    transition: all .2s ease-in-out;
                }
            }
        }
    }
}

